Seabornâ€™s load_dataset function allows us to load sample data, and head() will show us the first few rows.

In [13]:
import seaborn as sb
df = sb.load_dataset("taxis")
df.head()
df.columns

Index(['pickup', 'dropoff', 'passengers', 'distance', 'fare', 'tip', 'tolls',
       'total', 'color', 'payment', 'pickup_zone', 'dropoff_zone',
       'pickup_borough', 'dropoff_borough'],
      dtype='object')

## Selecting Rows and Columns

### Question 1. 
Select only the pickup column and display the column

In [14]:
# Your answer here
pickup= df["pickup"]
print(pickup)

0       2019-03-23 20:21:09
1       2019-03-04 16:11:55
2       2019-03-27 17:53:01
3       2019-03-10 01:23:59
4       2019-03-30 13:27:42
               ...
6428    2019-03-31 09:51:53
6429    2019-03-31 17:38:00
6430    2019-03-23 22:55:18
6431    2019-03-04 10:09:25
6432    2019-03-13 19:31:22
Name: pickup, Length: 6433, dtype: object

selected the "pickup" column using indexing and display it using the print() function.

### Question 2.
Select three columns (distance, fare, tip) and display

In [15]:
# Your answer here
selected_columns = df[["distance", "fare", "tip"]]
print(selected_columns)

      distance  fare   tip
0         1.60   7.0  2.15
1         0.79   5.0  0.00
2         1.37   7.5  2.36
3         7.70  27.0  6.15
4         2.16   9.0  1.10
...        ...   ...   ...
6428      0.75   4.5  1.06
6429     18.74  58.0  0.00
6430      4.14  16.0  0.00
6431      1.12   6.0  0.00
6432      3.85  15.0  3.36

[6433 rows x 3 columns]

Selected three columns ("distance", "fare", and "tip") using indexing and display them using the print() function.

### Question 3.
Select rows with more than one rider in the cab (note: passenger column records the number of riders)

In [16]:
# Your answer here
rows_with_multiple_riders = df[df["passengers"] > 1]
print(rows_with_multiple_riders)

                   pickup              dropoff  passengers  distance  fare  \
4     2019-03-30 13:27:42  2019-03-30 13:37:14           3      2.16   9.0
15    2019-03-16 17:53:34  2019-03-16 18:13:57           3      2.09  13.5
19    2019-03-25 22:04:25  2019-03-25 22:11:30           6      1.08   6.5
23    2019-03-04 12:15:39  2019-03-04 12:26:53           5      1.09   8.5
24    2019-03-24 09:53:28  2019-03-24 10:01:22           5      2.89   9.5
...                   ...                  ...         ...       ...   ...
6412  2019-03-20 17:33:25  2019-03-20 17:42:48           5      1.40   8.0
6414  2019-03-30 14:04:46  2019-03-30 14:18:58           2      2.60  11.0
6417  2019-03-10 12:10:45  2019-03-10 12:43:05           2     11.17  35.0
6420  2019-03-16 15:39:23  2019-03-16 15:46:18           2      1.20   7.0
6421  2019-03-24 09:07:15  2019-03-24 09:36:45           6     10.23  33.0

       tip  tolls  total   color      payment                    pickup_zone  \
4     1.10   0.00  13.40  yellow  credit card                   Midtown East
15    0.00   0.00  16.80  yellow         cash          Upper West Side North
19    1.08   0.00  11.38  yellow  credit card                   East Chelsea
23    2.36   0.00  14.16  yellow  credit card  Sutton Place/Turtle Bay North
24    3.84   0.00  16.64  yellow  credit card                Lenox Hill West
...    ...    ...    ...     ...          ...                            ...
6412  0.00   0.00   9.80   green         cash               Brooklyn Heights
6414  2.91   0.00  17.46   green  credit card                 Central Harlem
6417  0.00   5.76  41.56   green  credit card              Hillcrest/Pomonok
6420  0.00   0.00   7.80   green         cash                 Central Harlem
6421  0.00   0.00  33.80   green  credit card         East Flatbush/Farragut

               dropoff_zone pickup_borough dropoff_borough
4            Yorkville West      Manhattan       Manhattan
15             Clinton East      Manhattan       Manhattan
19             East Chelsea      Manhattan       Manhattan
23            Midtown North      Manhattan       Manhattan
24                 Gramercy      Manhattan       Manhattan
...                     ...            ...             ...
6412            Fort Greene       Brooklyn        Brooklyn
6414         Yorkville West      Manhattan       Manhattan
6417               Flatiron         Queens       Manhattan
6420  Upper West Side North      Manhattan       Manhattan
6421       South Ozone Park       Brooklyn          Queens

[1659 rows x 14 columns]

Used Boolean indexing to select only the rows where the "passengers" column is greater than 1, indicating that there were multiple riders in the cab. We then display these rows using the print() function.